# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC_EXRkJ3p0_MzpUsSzfLyFPVSshmJxjWY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=gymtracker-a1468.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=gymtracker-a1468
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=gymtracker-a1468.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=249947248908
NEXT_PUBLIC_FIREBASE_APP_ID=1:249947248908:web:22cb0dfcf885a78d7f9129
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-JYZQL0JSK7

# OpenAI Configuration
# Replace with your own key or leave empty for local dev
NEXT_PUBLIC_OPENAI_API_KEY=
